[submodule "exteranls/googletest"]
	path = exteranls/googletest
	url = https://github.com/google/googletest.git
[submodule "exteranls/assimp"]
	path = exteranls/assimp
	url = https://github.com/assimp/assimp.git
[submodule "exteranls/googlemock"]
	path = exteranls/googlemock
	url = https://github.com/google/googlemock.git
